@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.asterpost {
    background: #fff;
    border: 1px solid #aaa;
    color: #333;
    max-width: 400px;
    width: 65%;
    margin: 0 auto;
    padding: 3rem 3rem;
    text-align: justify;
    font: 400 0.75rem/150% 'roboto';
}

.asterpost b,
.asterpost strong,
.asterpost i,
.asterpost em,
.asterpost u,
.asterpost a {
    color: var(--accent);
    font-family: inherit;
    opacity: 1;
    -webkit-text-fill-color: revert;
}

.asterpost a {
    text-decoration: none;
}

.asterpost a:hover {
    color: #333;
    font-style: italic;
}

.asterpost .tag {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1rem 0 0;
}
