@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Roboto+Mono:ital,wght@0,500;1,500&display=swap');
.qxcomm {
    background: #fff;
    border: 1px solid #aaa;
    color: #111;
    font: 500 0.72rem/150% 'Inter', sans-serif;
    margin: 1em auto;
    max-width: 375px;
    width: 100%;
    border-radius: 0.25rem;
}

.darkmode .qxcomm {
    background: var(--postBack);
    color: var(--text);
    border-color: var(--dark30);
}

.darkmode .qxcomm .header .icons img,
.darkmode .qxcomm .messages ul>li,
.darkmode .qxcomm .sending .chatbox,
.darkmode .qxcomm .header,
.darkmode .qxcomm .sending,
.darkmode .qxcomm .messages ul>.audio .transcript,
.darkmode .qxcomm .header .recipient .members {
    border-color: var(--dark30);
}

.darkmode .qxcomm .messages ul>li:last-of-type {
    border: 1px solid var(--dark30)!important;
}

.qxcomm .messages ul>li:last-of-type {
    border: 1px solid #aaa!important;
}

.darkmode .qxcomm .messages ul>.audio .transcript,
.darkmode .qxcomm .header .recipient .members>a {
    color: var(--text);
}

.darkmode .qxcomm .messages ul>.unsent {
    background: var(--postBack);
    border-color: rgb(207, 42, 42);
}

.darkmode .qxcomm .messages ul>.action::before {
    background: var(--postBack);
    width: 1.25rem;
}

.darkmode .qxcomm .messages ul>.action {
    border-color: rgba(var(--accentRGB), 0.25);
}

.darkmode .qxcomm.call .icons img {
    border-color: var(--dark80);
}

.qxcomm b,
.qxcomm strong,
.qxcomm i,
.qxcomm em,
.qxcomm s,
.qxcomm a {
    color: var(--accent);
    background: none;
    opacity: 1;
    -webkit-background-clip: revert!important;
    -webkit-text-fill-color: revert;
}

.qxcomm ::-webkit-scrollbar {
    width: 2px;
}

.qxcomm ::-webkit-scrollbar-thumb {
    background: var(--accent);
}

.qxcomm .header {
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-items: center;
    padding: 1em;
}

.qxcomm .header i {
    font-size: 1.2rem;
    font-family: 'FontAwesome'!important;
    font-style: normal;
}

.qxcomm .header i:hover,
.qxcomm .sending i:hover,
.qxcomm .sending .chatbox i:hover {
    color: var(--accent);
}

.qxcomm .header .left_control,
.qxcomm .header .right_control {
    margin: 1em 0.5em;
}

.qxcomm .header .chatinfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
}

.qxcomm .header .icons {
    display: flex;
    justify-content: center;
    text-align: center;
}

.qxcomm .header .icons img:first-of-type {
    margin: 0;
}

.qxcomm .header .icons img {
    border-radius: 50%;
    border: 2px solid #fff;
    height: 50px;
    margin: 0 0 0 -95px;
    width: 50px;
}

.qxcomm .header .recipient {
    flex-grow: 2;
    text-align: center;
}

.qxcomm .header .recipient *,
.qxcomm summary {
    list-style: none;
}

.qxcomm details summary::-webkit-details-marker,
.qxcomm ::marker {
    display: none;
}

.qxcomm .header .recipient h1 {
    font-size: 130%;
    margin: 0.5em auto 0;
    max-width: 255px;
    font-family: inherit;
    font-weight: bold;
    padding-bottom: 0;
    border: none;
}

.qxcomm .header .recipient h2 {
    color: #aaa!important;
    font-size: 85%;
    font-weight: normal;
    font-family: inherit;
    letter-spacing: 0.1em;
    margin: 0.25em 0;
    text-transform: uppercase;
    width: revert;
    background: none;
}

.qxcomm .header .recipient h2>i {
    font-size: inherit;
}

.qxcomm .header .recipient .members {
    border-radius: 0.5rem;
    border: 1px solid #aaa;
    margin: 0 auto;
    max-width: 200px;
    padding: 0.5rem 0.75rem;
    text-align: left;
}

.qxcomm .header .recipient .members>a {
    color: #333;
    display: block;
    font-size: 90%;
    overflow-x: clip;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qxcomm .header .recipient .members>a::before {
    color: #57c766;
    content: "\f111";
    font-family: 'FontAwesome'!important;
    display: inline-block;
    font-size: 0.4rem;
    vertical-align: bottom;
    margin-right: 0.35rem;
}

.qxcomm .header .recipient .members>.busy::before {
    color: #ee3333;
}

.qxcomm .header .recipient .members>.away::before {
    color: #eebc33;
}

.qxcomm .header .recipient .members>.offline::before {
    color: #b9b9b9;
}

.qxcomm .sending {
    border-top: 1px solid #aaa;
    color: #aaa;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.qxcomm .sending .chatbox {
    align-content: center;
    border-radius: 0.5rem;
    border: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
    padding: 1em;
    width: 100%;
}

.qxcomm .sending .chatbox span,
.qxcomm .sending .chatbox i {
    align-self: center;
    font-style: normal;
}

.qxcomm .sending .send>i {
    border-radius: 2em;
    border: 1px solid var(--accent);
    color: var(--accent);
    font-size: 110%;
    padding: 1em;
    font-family: 'FontAwesome'!important;
    font-style: normal;
}

.qxcomm .sending .chatbox i {
    color: #aaa;
    font-size: 110%;
    font-family: 'FontAwesome'!important;
}

.qxcomm .sending .send>i:hover {
    background-color: var(--accent);
    color: #fff;
}

.qxcomm .messages {
    padding: 1em 1em;
}

.qxcomm .messages * {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.qxcomm .messages ul {
    align-items: start;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    max-height: 300px;
    overflow-y: scroll;
    padding-left: 1em;
}

.qxcomm .messages ul li {
    width: auto;
}

.qxcomm .messages ul>li {
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    border: 1px solid #aaa;
    display: inline-block;
    margin: 0.5em 0;
    max-width: 75%;
    padding: 0.75rem 1rem;
    text-align: left;
}

.qxcomm .messages ul>li::before {
    content: none;
}

.qxcomm .messages ul>li img {
    max-width: 100%;
}

.qxcomm .messages ul>.photo {
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    border: none;
    padding: 0;
}

.qxcomm .messages ul>.photo img {
    border-radius: 0.5rem 0.5rem 0.5rem 0;
}

.qxcomm .messages ul>.emote img {
    width: 50px;
}

.qxcomm .messages ul>.unsent {
    background-color: rgb(245, 235, 235);
    border-color: rgb(207, 42, 42);
    color: rgb(207, 42, 42);
    font-style: italic;
    min-width: 70px;
}

.qxcomm .unsent b,
.qxcomm .unsent strong,
.qxcomm .unsent i,
.qxcomm .unsent em,
.qxcomm .unsent s {
    color: rgb(207, 42, 42);
    background: none;
    opacity: 1;
    -webkit-background-clip: revert!important;
    -webkit-text-fill-color: revert;
}

.qxcomm .messages ul>.unsent::before {
    color: rgb(207, 42, 42);
    content: "[deleted]";
    display: flex;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
}

.qxcomm .messages ul>.action {
    background: rgba(var(--accentRGB), 0.05);
    max-width: 70%;
    font: 500 0.7rem/150% 'inter', sans-serif;
    border: 1px solid rgba(var(--accentRGB), 0.25);
    border-radius: 0.5rem;
    text-align: center;
    align-self: center;
}

.qxcomm .messages ul>.action::before {
    content: "\f017";
    font-family: 'FontAwesome'!important;
    color: rgba(var(--accentRGB), 0.75);
    background-color: #fff;
    border-radius: 100%;
    float: left;
    font-size: 1rem;
    position: relative;
    margin: -1rem 0 0 -1.5rem;
}

.qxcomm .messages ul>.note {
    border: none;
    max-width: 90%;
    padding: 1em 0;
}

.qxcomm .messages ul>.note::after {
    content: "]";
    margin: 0 0 0 0.25rem;
}

.qxcomm .messages ul>.note::before {
    content: "[";
    margin: 0 0.25rem 0 0;
}

.qxcomm .messages ul>.note::before,
.qxcomm .messages ul>.note::after {
    color: var(--accent);
    font-weight: 700;
    font-style: italic;
    display: inline-block;
}

.qxcomm .messages ul>.audio {
    border: none;
    padding: 1em 0 0;
    width: 100%;
}

.qxcomm .messages ul>.audio .clip {
    align-items: center;
    background-color: var(--accent);
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    color: #fff;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin: 0 0 1em;
    padding: 0.75rem 1rem;
}

.qxcomm .messages ul>.audio .clip>i {
    font-size: 200%;
    color: #fff;
    font-family: 'FontAwesome'!important;
    font-style: normal;
}

.qxcomm .messages ul>.audio .transcript {
    border-left: 2px solid #eee;
    color: #666;
    padding: 0 1em;
}

.qxcomm .messages ul>.audio .transcript p {
    margin: 1em 0;
}

.qxcomm .messages ul>.audio .transcript p:first-of-type {
    margin: 0;
}

.qxcomm .messages ul>.audio .transcript::before {
    content: "[transcript]";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.qxcomm .messages ul>.cash {
    background-color: rgba(var(--accentRGB), 0.15);
    border: 1px solid var(--accent)!important;
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.55rem;
}

.qxcomm .messages ul>.cash>.cashamt {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
}

.qxcomm .messages ul>.cash>.cashamt>i {
    font-family: 'FontAwesome'!important;
    font-style: normal;
    font-size: 1.55rem;
}

.qxcomm .messages ul>.cash>.cashamt>.amount::before {
    content: "You have sent";
}

.qxcomm .messages ul>.cash>.cashamt>.amount {
    display: flex;
    flex-flow: column nowrap;
    font: 500 0.715rem/165% 'inter';
    justify-content: start;
    margin-left: 10px;
    padding: 5px;
    text-align: left;
}

.qxcomm .messages ul>.cash>.cashamt>.amount>span {
    font: 700 1.25rem/100% 'inter';
    margin: 5px 0;
}

.qxcomm .messages ul>.cash>.cashamt>.amount>.msg {
    font-style: italic;
}

.qxcomm .messages ul>.cash>.cashamt>.amount>.msg::after,
.qxcomm .messages ul>.cash>.cashamt>.amount>.msg::before {
    color: inherit;
    content: '"';
    font-weight: 700;
}

.qxcomm .messages ul>.cash::after {
    border-top: 1px solid var(--accent);
    color: var(--accent);
    content: "Sent via VENMOOSE";
    display: inline-block;
    font-size: 0.6rem;
    margin: 5px 0 0;
    padding: 5px 0 0;
    text-align: right;
}

/** SUPPORT FOR CALLING **/
@keyframes pulse_frame {
    0% {
        background-color: var(--postBack);
    }
    50% {
        background-color: rgba(var(--accentRGB), 0.25);
    }
    100% {
        background-color: var(--postBack);
    }
}

.qxcomm.call .icons {
    width: 50px;
    height: 50px;
    border-radius: 25rem;
    border: 1px solid rgba(var(--accentRGB), 0.65);
    background-color: rgba(var(--accentRGB), 0.25);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    animation: 2s pulse_frame infinite;
}

.qxcomm.call .messages ul {
    display: flex;
    align-items: center;
    padding: 0;
}

.qxcomm.call .messages ul>li {
    border-radius: 0.5rem;
    width: 100%;
    border: 1px solid rgba(var(--accentRGB), 0.35)!important;
}

.qxcomm.call .end_call {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qxcomm.call .end_call i {
    font-family: 'FontAwesome';
    font-size: 1rem;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 100%;
    color: #fff;
    background: rgb(228, 98, 98);
    display: flex;
    align-items: center;
}
