@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Roboto+Mono:ital,wght@0,500;1,500&display=swap');
.qplot .magical {
    --accent: rgb(169, 140, 200);
}

.qplot .townsfolk {
    --accent: rgb(158, 192, 79);
}

.qplot .farmer {
    --accent: rgb(255, 111, 111);
}

@font-face {
    font-family: 'GT Walsheim';
    src: url("https://kkanyu.github.io/styles/webfonts/GTWalsheimPro-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url("https://kkanyu.github.io/styles/webfonts/GTWalsheimPro-RegularOblique.ttf") format('truetype');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url("https://kkanyu.github.io/styles/webfonts/GTWalsheimPro-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url("https://kkanyu.github.io/styles/webfonts/GTWalsheimPro-MediumOblique.ttf") format('truetype');
    font-weight: 500;
    font-style: oblique;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url("https://kkanyu.github.io/styles/webfonts/GTWalsheimPro-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url("https://kkanyu.github.io/styles/webfonts/GTWalsheimPro-BoldOblique.ttf") format('truetype');
    font-weight: bold;
    font-style: oblique;
}

@keyframes open {
    0% {
        margin-top: -20px;
        opacity: 0;
        visibility: hidden;
    }
    100% {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
    }
}

.qplot details[open] summary~* {
    animation: open 0.5s ease;
}

.qplot details summary {
    list-style: none;
    transition: all 0.5s ease-in-out;
}

.qplot details summary::-webkit-details-marker,
.qplot ::marker {
    display: none;
}

.qplot {
    box-sizing: border-box;
    color: #111;
    font-family: 'GT Walsheim';
    font-size: 0.75rem;
    line-height: 140%;
    margin: 2em auto 5em;
    max-width: 400px;
    width: 80%;
}

.qplot b,
.qplot strong,
.qplot em,
.qplot s,
.qplot .collapse i {
    color: var(--accent);
}

.qplot a {
    color: var(--accent);
    text-decoration: none;
}

.qplot a:hover {
    filter: brightness(115%);
}

.qplot h2 {
    border: 1px solid #aaa;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 120%;
    padding: 1.5em 2em;
    border-radius: 0.25rem;
}

.qchar ::-webkit-scrollbar {
    width: 2px;
}

.qchar ::-webkit-scrollbar-thumb {
    background: var(--accent);
}

.qchar ::-webkit-scrollbar-thumb:hover {
    filter: saturate(50%);
}

.qchar {
    margin: 1.5em 0;
}

.char {
    background: #fff;
    border: 1px solid #aaa;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 0.25rem;
}

.iconbox {
    align-items: center;
    border-right: 1px solid #aaa;
    display: flex;
    flex: 0;
    min-height: 100px;
}

.iconbox .icon {
    background: #fff;
    border-radius: 100%;
    border: 1px solid #aaa;
    height: 80px;
    margin-left: -45px;
    margin-right: 10px;
    padding: 5px;
    width: 80px;
}

.char .name {
    border-bottom: 1px solid #aaa;
    flex: 999;
    overflow-x: clip;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.char .name h1 {
    display: inline-flex;
    flex-flow: row wrap;
    font-size: clamp(16px, 2vw, 18px);
    font-style: italic;
    gap: 3px;
    justify-content: right;
    line-height: 110%;
    margin: 0.7em;
    text-transform: lowercase;
}

.char .overview {
    display: flex;
    flex-flow: column nowrap;
}

.char .overview .tags {
    margin: 1em 0 1em 1em;
    max-height: 50px;
    min-width: 50px;
    overflow-wrap: anywhere;
    overflow-y: scroll;
    padding: 0 2px 0 0;
    text-align: left;
    word-break: break-all;
}

.char .overview .tags>span {
    border: 1px solid #aaa;
    display: inline-block;
    font-size: 0.53rem;
    font-family: 'inter';
    line-height: 100%;
    margin: 2px 0;
    padding: 2px 5px;
    text-transform: uppercase;
    border-radius: 0.25rem;
}

.char .overview .tags span>i {
    padding: 0 5px 0 0;
}

.char .overview .tags>span:first-of-type {
    background: var(--accent);
    border: 1px solid var(--accent);
    color: #fff;
}

.char .classes {
    width: 100px;
}

.char .overview .snapshot {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.char .overview .classes {
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    font-size: 80%;
    margin: 0 1.3em;
    text-transform: uppercase;
    width: 50px;
}

.char .overview .classes i {
    border: 1px solid #aaa;
    margin: 3px 0;
    padding: 5px;
    width: 10px;
    border-radius: 0.25rem;
}

.char .on,
.char .on a {
    color: rgb(255, 118, 141);
}

.char .on:hover,
.char .on a:hover {
    color: rgb(194, 17, 50);
}

.qplot .collapse {
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0px;
    line-height: 120%;
    text-align: justify;
    border-radius: 0.25rem;
}

.qplot .collapse ul {
    list-style: none;
    margin: 0px;
    padding: 2em 40px;
}

.qplot .collapse ul li::before {
    color: var(--accent);
    content: "\2022";
    display: inline-block;
    font-weight: bold;
    margin: 0 0 0 -1em;
    width: 1em;
}

.qplot .collapse ul li {
    margin: 0 0 5px;
}
