@import url('https://kkanyu.github.io/styles/webfonts/ArialNova/@font-face_arialnova.css');

.qxpost {
    box-sizing: border-box!important;
    background-color: #fff;
    border: 1px solid var(--dark30);
    color: #111;
    display: flex;
    flex-flow: column wrap;
    font: normal 0.78rem/1.2rem 'Arial Nova', sans-serif;
    margin: 0 auto;
    max-width: 485px;
    min-width: 450px;
    padding: 3rem 3.5rem;
    text-align: justify;
    width: 85%;
}

.darkmode .qxpost, .darkmode .qxpost .qtag a {
    background: var(--postBack);
    color: var(--text);
}

.qxpost .qcontent {
    padding: 0 0 1rem;
}

.qxpost .qcontent p:first-child::first-line {
    color: var(--accent);
    font-weight: normal;
    text-transform: uppercase;
}

.qxpost .qcontent p:first-child::first-line em,
.qxpost .qcontent p:first-child::first-line i {
    font-weight: inherit;
}

.qxpost strong,
.qxpost b,
.qxpost em,
.qxpost i,
.qxpost s {
    color: var(--accent);
    font-family: inherit;
    font-size: inherit;
    background: none;
    opacity: 1;
    -webkit-background-clip: revert!important;
    -webkit-text-fill-color: revert;
}

.qxpost .qcontent strong,
.qxpost .qcontent b {
    font-weight: bold;
}

.qxpost .qcontent strong em,
.qxpost .qcontent b i {
    font-weight: inherit;
}

.qxpost .qcontent s {
    letter-spacing: 0.05rem;
}

.qxpost .qcontent u {
    color: inherit;
}

.qxpost .qtag {
    align-self: center;
    justify-content: center;
    padding: 0 2rem;
    margin: 0 0 1em;
    text-transform: lowercase;
}

.qxpost .qtag a {
    color: #444;
    text-decoration: none;
    margin: 0 0.5rem 0 0;
    border-bottom: 2px solid var(--accent);
    padding: 0 0.25rem 0.15rem;
}

.qxpost .qtag a::before {
    color: var(--accent);
    content: "#";
    font-weight: bold;
    text-decoration: none;
    margin: 0 0.25rem 0 0;
}

.qxpost .qtag a:hover {
    color: var(--accent);
    font-style: oblique;
    filter: hue-rotate(45deg);
}

.qxpost>.cw {
    text-align: right;
    padding: 0 0 1rem 1rem;
    font-style: oblique;
}

/* TEMP: SKIN DEFAULT TEMPLATE MOD */
.post-tem1 div:first-of-type, .post-tem2 > div:first-of-type {
    font-size: 0.7rem;
    color: #888;
}
