    .qingxin>h2 {
        margin-bottom: 0;
    }
    
    .qingxin>div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .qingxin>div>a {
        text-transform: uppercase;
        width: 100px;
        text-align: center;
        font: 500 0.7rem 'poppins', sans-serif;
        margin: 5px 0;
        display: flex;
        flex-flow: column wrap;
        margin: 5px;
        text-align: center;
    }
    
    .qingxin>div>a>img {
        width: 60px;
        border-radius: 100%;
        padding: 5px;
        border: 1px solid rgb(var(--accent));
        margin: 5px auto;
    }
    
    .qingxin>div>a>div {
        font-size: 80%;
        line-height: 150%;
    }
