@font-face {
  font-family: 'Monotalic Narrow';
  font-style: normal;
  font-weight: 300;
  src: local('Monotalic Narrow Light'), local('Monotalic-Narrow-Light'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-NarrowLight.woff2') format('woff2'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-NarrowLight.woff') format('woff'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-NarrowLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Monotalic Narrow';
  font-style: normal;
  font-weight: normal;
  src: local('Monotalic Narrow'), local('Monotalic-Narrow'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-Narrow.woff2') format('woff2'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-Narrow.woff') format('woff'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-Narrow.ttf') format('truetype');
}

@font-face {
  font-family: 'Monotalic Narrow';
  font-style: normal;
  font-weight: 500;
  src: local('Monotalic Narrow Medium'), local('Monotalic-Narrow-Medium'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-NarrowMedium.woff2') format('woff2'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-NarrowMedium.woff') format('woff'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-NarrowMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Monotalic Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('Monotalic Narrow Bold'), local('Monotalic-Narrow-Bold'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-NarrowBold.woff2') format('woff2'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-NarrowBold.woff') format('woff'),
    url('https://kkanyu.github.io/styles/webfonts/monotalic/Monotalic-NarrowBold.ttf') format('truetype');
}
